<div class="toolbar no-print">
  <button type="button" class="print-button" (click)="print()">Print Permit</button>
</div>

<div class="print-container">
  <div class="permit">
    <div class="header">
      <h4>REPUBLIC OF THE PHILIPPINES</h4>
      <h3>NATIONAL TELECOMMUNICATIONS COMMISSION</h3>
      <h4>REGIONAL OFFICE NO. V</h4>
      <p>Government Center Site, Brgy. Rawis, Legazpi City</p>
    </div>

    <h2 class="title">MOBILE PHONE RETAILER'S PERMIT</h2>

    <div class="row">
      <span><b>Permit No:</b> EE-MPR-26-03-0014</span>
      <span><b>Date Issued:</b> March 17, 2026</span>
    </div>

    <div class="row full">
      <span><b>Name of Applicant:</b> ANZKIE CELLPHONE SHOP</span>
    </div>

    <div class="row full">
      <span><b>Business Address:</b> Barangay Katipunan, Placer, Masbate</span>
    </div>

    <div class="row">
      <span><b>Telephone:</b> 09368923422</span>
      <span><b>Fax No:</b> NONE</span>
    </div>

    <div class="row">
      <span><b>SEC/DTI Registration No:</b> 2224435</span>
    </div>

    <p class="paragraph">
      This is to certify that the above-named retailer has complied with the minimum
      requirements of the Commission and is hereby granted a Temporary Mobile Phone
      Retailer's Permit to engage in the purchase, sale, lease and retail of mobile phones.
    </p>

    <div class="row">
      <span><b>Valid From:</b> March 23, 2026</span>
      <span><b>To:</b> March 22, 2027</span>
    </div>

    <div class="signature">
      <p><b>ATTY. JUDY ANN N. BILANGEL</b></p>
      <small>OIC Regional Director, RV</small>
    </div>

    <div class="footer">
      <p>National Telecommunications Commission</p>
    </div>
  </div>
</div>
